# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
C:\GitHub\AI\ALK_AI3.Store_scale\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
